/**
 * Fonts sizes
 */
.has-large-font-size {
  font-size: 1.25rem;
}

/**
 * Paragraphes
 */
.has-drop-cap:not(:focus)::first-letter {
  color: var(--color-primary);
  margin-bottom: 1.563rem;
}

.has-drop-cap + :not(p) {
  clear: both;
}


/**
 * All Blocks
 */
*[class*="wp-block-"]:not([class*='__']) {
  margin-top: 1.563rem;
  margin-bottom: 1.563rem;
}


/**
 * Groups
 */
.wp-block-group {
  margin-top: 0;
  margin-bottom: 0;
}

/**
 * Galleries
 */
.wp-block-gallery .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-item,
.blocks-gallery-grid .blocks-gallery-image,
.blocks-gallery-grid .blocks-gallery-item {
  margin-bottom: 0;
  margin-top: 16px;
}

.wp-block-gallery .blocks-gallery-caption {
  margin-top: 0.5rem;
  margin-bottom: 1em;
}


/**
 * Tables
 */
.wp-block-table table {
  margin: 0;
}

.wp-block-table figcaption {
  margin-top: 0.5rem;
}


/**
 * Text & Media
 */
.wp-block-media-text .wp-block-media-text__content {
  padding: 0 0 0 1.5rem;
  margin: 0;
}
.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
  padding: 0 1.5rem 0 0;
}


/**
 * Embeds
 */
.wp-block-embed blockquote {
  margin: 0;
}


/**
 * Buttons
 */
.wp-block-buttons .wp-block-button {
  margin: 0 0.5rem 0.5rem 0;
}


/**
 * Columns
 */
.wp-block-columns .wp-block-column {
  margin-top: 0;
  margin-bottom: 0;
}


/**
 * Files
 */
.wp-block-file {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.wp-block-file a:not(.wp-block-file__button) {
  font-weight: 700;
}

.wp-block-file a:not(.wp-block-file__button):not(:last-child) {
  margin-right: 1rem;
}

/**
 * Pulled Quote
 */
.wp-block-pullquote {
  position: relative;
  padding: 0;
}

.wp-block-pullquote blockquote {
  padding-left: 5rem;
  padding-right: 5rem;
  border: 0;
}

.wp-block-pullquote:before,
.wp-block-pullquote:after {
  color: var(--color-primary);
  display: block;
  font-size: 6.2rem;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  height: 2rem;
  width: 2rem;
  position: absolute;
}

.wp-block-pullquote:before {
  content: "“";
  top: 0;
  left: 0;
}
.wp-block-pullquote:after {
  content: "”";
  bottom: 0;
  right: 0;
}
