nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.primary-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  font-size: 1.25em;
  font-variant: small-caps;
  font-weight: 700;
}

.primary-menu a {
  display: inline-block;
  text-decoration: none;
}

.primary-menu a:hover,
.primary-menu a:focus,
.primary-menu .current_page_ancestor {
  text-decoration: underline;
}
