figure,
iframe,
audio,
video,
svg,
img,
embed,
object {
  display: block;
  width: 100%;
  height: auto;
}

figcaption,
.wp-caption-text {
  display: block;
  font-style: italic;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  width: 100%;
}

.gallery-caption {
  display: block;
  font-weight: 600;
  padding: 0.5rem;
}
