table {
  border: 0.1rem solid var(--color-ternary);
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  margin: 1.563rem 0;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
}

th,
td {
  border: 0.1rem solid var(--color-ternary);
  overflow: visible;
  padding: 0.5rem;
}

caption {
  font-weight: 600;
  padding: 0.5rem;
}

thead {
  vertical-align: bottom;
  white-space: nowrap;
}

th,
tfoot td {
  font-weight: 700;
}

tbody tr:nth-of-type(even) {
  background-color: var(--color-ternary);
}
